name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Lagersoftware Image
        run: docker build -t lager-app ./lagersoftware
      - name: Build Admin Dashboard Image
        run: docker build -t lager-admin ./admin_dashboard
